@model IEnumerable<SpaceX_Launch_Website.ViewModels.LaunchWithPayload>
@{
    ViewBag.Title = "Index";
}
<div id="top" class="top">
    <h1 class="text-center">SpaceX Launch Detalis</h1>
    <p class="lead text-center">Welcome to the SpaceX Launch Data App</p>
    <p><a href="https://github.com/r-spacex/SpaceX-API/blob/master/docs/README.md" class="btn btn-primary btn-lg">SpaceX-API &raquo;</a></p>
</div>

<div classs="container">
    <table id="myTable" class="table stripe table-striped">
        <thead>
            <tr>
                <th scope="col">Name of Rocket/Satellite</th>
                <th scope="col">Launch Date (CST)</th>
                <th scope="col">Launch Success</th>
                <th scope="col">Payload Mass in Lbs</th>
                <th scope="col">Rank By Mass</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var launch in Model)
            {
                <tr>
                    <td>@launch.Name</td>
                    <td>@launch.DateLocal</td>

                    @if (launch.Success == null)
                    {
                        <td class="info">-N/A-</td>
                    }
                    else if (launch.Success == true)
                    {
                        <td class="success">@launch.Success</td>
                    }
                    else
                    {
                        <td class="danger">@launch.Success</td>
                    }

                    @if (launch.MassLbs == null)
                    {
                        <td class="info">-N/A-</td>
                    }
                    else
                    {
                        <td>@launch.MassLbs</td>
                    }

                    @if (launch.Rank == 0)
                    {
                        <td class="info">-N/A-</td>
                    }
                    else
                    {
                        <td>@launch.Rank</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable(
                { "ordering": false }
            );
        })
    </script>
}
